body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  margin: 0;
  /* padding: 54px 40px 24px 40px; */
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #fff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main-content */

.main-content {
  padding: 32px 56px;
}

.main-content-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 27px;
  color: #000;
  margin: 0 0 18px 0;
}

/* About me */

.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 12px 0;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 0px 0;
}

.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0;
}

.about-me-container {
  margin-bottom: 24px;
}

/* Work experience  */

.work-experiens-container {
  margin-bottom: 32px;
}

.work-experiens-position {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin: 0;
}

.work-experiens-place {
  margin-bottom: 12px;
}

.work-experiens-company {
  color: #595959;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.work-duties-list {
  padding: 0 0 0 14px;
  margin: 0;
}

.text-experience {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  margin: 4px 0 8px 0;
}

/* Education */
.ediccation-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 27px;
  color: #000;
  margin: 0 0 18px 0;
}

.ediccation-list {
  padding: 0 0 0 14px;
  margin: 0;
}

.my-education {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0;
}

.ediccation-info {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #595959;
  margin: 8px 0 0 0;
}

.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 8px 0;
}

/*------------------------------------------------- Sidebar--------------------------------------------------- */

.sidebar {
  width: 370px;
  background: #765481;
}

.my-photo {
  margin-top: 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container,
.lang-skills-container,
.ediccation-skills-container {
  margin: 42px 0 0 56px;
}

.sidebar-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

/* Contacts */
.contacts-item {
  margin: 0;
}

.contacts-number,
.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  text-decoration: none;
}

.contacts-social {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  text-decoration: underline;
}

.contacts-local {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.contacts-social:hover,
.contacts-number:hover {
  color: #0e3d9a;
  text-decoration: underline;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hard Skills */

.skills-list,
.soft-list,
.lang-list,
.ediccation-list {
  margin: 0;
  padding: 0 0 0 12px;
}

.skills-list-text,
.skills-soft-text,
.lang-soft-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
